        <footer>
            <div class="container">
                
                <a class="footer-to-home-button" href="#mainCanvas"><i class="fas fa-angle-double-up"></i></a>
                <div class="row">
                    <ul class="col-lg-4 col-md-4 col-sm-6 col-10 footer-list">
                        <li><a id="linkedIN" class="footer-link" href="https://www.linkedin.com/in/mohammed-alkabsh-196041169/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a id="facebook" class="footer-link" href="https://github.com/Mohammed-Alkabsh"><i class="fab fa-github"></i></a></li>
                        <li><a id="codepen" class="footer-link" href="https://codepen.io/Yo_Mohammed/"><i class="fab fa-codepen"></i></a></li>
                    </ul>
                </div>
                <div class="closing">
                    <p>MOHAMMED ALKABSH <span><i class="fas fa-copyright"></i>2019</span></p>
                </div>
                
            </div>
        </footer>
    </body>
	<script src="/scripts/portfolio.js"></script>
</html>