        <footer>
            <div class="container">
                
                <a class="footer-to-home-button" href="#mainCanvas"><i class="fas fa-angle-double-up"></i></a>
                <div class="row">
                    <ul class="footer-list">
                        <li><a id="linkedIN" class="footer-link" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a id="facebook" class="footer-link" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a id="twitter" class="footer-link" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a id="codepen" class="footer-link" href="https://www.codepen.com"><i class="fab fa-codepen"></i></a></li>
                    </ul>
                </div>
                <div class="closing">
                    <p>MOHAMMED ALKABSH <span><i class="fas fa-copyright"></i>2019</span></p>
                </div>
                
            </div>
        </footer>
    </body>
	<script src="/scripts/portfolio.js"></script>
</html>