<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="application-name" content="initializemohammed.com">
		<meta name="description" content="Portfolio of Web Developer - Mohammed Alkabsh">
		<meta name="keywords" content="Mohammed, Mohammed Alkabsh, Node, Web Developer, Freelance, Illinois, Rockford">
		<meta name="robots" content="index,follow,noodp">
		<meta name="googlebot" content="index,follow">
		<meta name="url" content="http://initializemohammed.com/">
		<!--                                     Linking Dependencies                                 -->
		<!--JQuery-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
		<!--Popper-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!--Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!--Bootstrap JavaScript-->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="/scripts/particles.js"></script>
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<!--Animate.css-->
		<link rel="stylesheet" href="/stylesheets/animate.css" type="text/css">
		<!--Google Fonts Api-->
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Permanent+Marker|Play" rel="stylesheet">
		<!--My Portfolio Stylesheet-->
		<link rel="stylesheet" href="/stylesheets/portfolio.css">
		<link rel="stylesheet" href="/stylesheets/logo.css">
		<title>Mohammed Alkabsh | Dev</title>
	</head>
	<body id="body">
	