<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--                                     Linking Dependencies                                 -->
		<!--JQuery-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
		<!--Popper-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!--Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!--Bootstrap JavaScript-->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="/scripts/particles.js"></script>
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<!--Animate.css-->
		<link rel="stylesheet" href="/stylesheets/animate.css" type="text/css">
		<!--Google Fonts Api-->
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Permanent+Marker|Play" rel="stylesheet">
		<!--My Portfolio Stylesheet-->
		<link rel="stylesheet" href="/stylesheets/admin.css">
		<title>Mohammed Alkabsh| Admin</title>
	</head>
	<body>
	

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Administration Only</h1>
            <h6>If you are not Mohammed Alkabsh leave now or regret it later...</h6>
        </div>
        <div style="margin-top: 40px;" class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <form style="margin-bottom: 30px;" action="/admin" method="POST">
                <div class="login-heading"><h4>Login</h4></div>
                <div class="form-group">
                    <input class="form-control inputs" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control inputs" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary btn-block"type="submit" placeholder="Submit">
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>

</div>
