body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(180deg, #efedef, #4c4947);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
nav{
    background-color: #4c4947;
}
.header{
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
    color: #4c4947;
}
h1 p{
    color: #6ead3a;
}
.messages-container{
    margin-top: 50px;
}
.message{
    position: relative;
    background-color: #4c4947;
    border: 1px solid #efedef;
    min-height: 220px;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 2px auto;
}

#name{
    color: #efedef;
    font-weight: bolder;
}
#email{
    color: #efedef;
}
#date-sent{
    width: 97%;
}
.time{
    float: left;
}
.message-cont{
    margin-top: 10px;
    min-height: 70px;
    background-color: #efedef;
    color: #4c4947;
    padding-left: 5px;
    overflow: scroll;
    border-radius: 5px;
}
.message span{
    position: absolute;
    bottom: 20px;
    color: #efedef;
    
}
p{
    margin: 0;
}