


body{
	font-family: "Play", sans-serif;
	padding: 0;
	margin: 0;
}
#mainCanvas{
	z-index: 0;
	position: relative;
	font-family: "Play", sans-serif;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(90deg,white,black);
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	padding-top: 50px;
	box-sizing: border-box;
	overflow: hidden;
}
.welcome{
	z-index: 6;
	transform-style: preserve-3d;
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 900px);
	padding: 0;
	margin: 0;
}
.container{
	overflow: hidden;
}
.introduction{
	color: #f5f5f5;
	letter-spacing: 2px;
}
.view-work-button{
	display: inline-block;
	color: #f5f5f5;
	background-color: rgba(32,29,58, 0.2);
	letter-spacing: 2px;
	font-weight: bold;
	padding: 10px 25px;
	border: 2px solid #f5f5f5;
	box-sizing: border-box;
	z-index: 10;
	text-decoration: none !important;
	transition: all 0.3s;
}
.view-work-button:hover{
	background-color: #f5f5f5;
	color: #14CEE2;
}
.fa-arrow-right{
	font-size: 18px;
	margin-left: 5px;
	transition: transform 0.3s;
}
.view-work-button:hover .fa-arrow-right{
	transform: rotate(90deg);
}








.text {
	position: relative;
  height: 50px;
  width: 100%;
  margin: -27px 0 20px -100px;
  text-align: center;
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-weight: 400;
}

.text h1 {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 5px;
}

.word {
  position: absolute;
  width: 400px;
  color: #14CEE2;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}






nav{
	font-family: "Play", sans-serif;
	background-color: #f2f2f2;
	border-bottom: 2px solid #14CEE2;
}
.navbar-brand{
	color: #A3C6C4 !important;
}
.name-logo, .title{
	color: #14CEE2;
	font-weight: bold;
}
#name-logo{
	height: 48px;
	width: 100px;
	-webkit-clip-path: polygon(50% 41%, 100% 0, 100% 100%, 75% 100%, 75% 60%, 50% 100%, 25% 60%, 25% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 41%, 100% 0, 100% 100%, 75% 100%, 75% 60%, 50% 100%, 25% 60%, 25% 100%, 0 100%, 0 0);
	background-image: linear-gradient(90deg, black, white, black);
	border-radius: 50%;
	border: 2px solid #14CEE2;
}
.navbar-toggler{
	border: 3px solid #14CEE2 !important;

}
.navbar-toggler i{
	color: #14CEE2 !important;
	font-size: 26px;
}

.nav-item{
	margin-right: 20px;
}
.nav-link{
	transition: 0.3s;
	font-size: 18px;
	font-weight: 600;
	color: gray !important;
}
.active > a{
	color: #14CEE2 !important;
}
.active > .link-und{
    width: 60%;
}
.nav-link:hover{
	color: #14CEE2 !important;
}

.disappear{
    display: none;
}
#about{
	background-color: #ffffff;
	width: 100%;
	min-height: 1100px;
	text-align: center;
	color: #201D3A;
}
.header-container{
	display: inline-block;
	margin: 80px auto 70px auto;
}
.headers{
	font-weight: bolder;
	font-size: 55px;
}
.underlines{
	height: 5px;
	width: 80%;
	margin: 10px auto;
	border-radius: 30%;
}
.about-header{
	color: #6C7A89;
}
.projects-header{
	color: #354649;
	
}
.about-underline{
	background-color: #6C7A89;
	
}
.project-underline{
	background-color: #354649;
}
.work-cards-wrapper{
	margin-top: -75px;
}
.hexagon{
	position: relative;
	top: 100px;
	margin: auto;
	height: 230px;
	width: 115px;
	transform: rotate(90deg) translate(-50%);
	overflow: hidden;
	border-radius: 50%;
	visibility: hidden;
}
.inner-hex{
	height: 230px;
	width: 115px;
	border-radius: 50%;
	transform: rotate(-60deg);
	overflow: hidden;
}
.inner-inner-hex{
	height: 230px;
	width: 115px;
	background-color: #14CEE2;
	border-radius: 50%;
	transform: rotate(-60deg);
	visibility: visible;
}
.fa{
	position: absolute;
	color: #f5f5f5;
	top: 39%;
	left: 30%;
	font-size: 46px;
	transform: translate(-50%, -50%);
	transform: rotate(30deg);
}
.card-heading{
	margin-bottom: 10px;
	font-weight: 600;
	color: #354649;
}
.card-detail{
	color: #6C7A89;
}
.fa-mobile-alt{
	position: absolute;
	font-size: 30px;
	left: 57%;
	top: 50%;
}
.fa-desktop{
	left: 17%;
	top: 37%;
}
.fa-lightbulb{
	left: 36%;
}
.bio-and-stats{
	margin-bottom: 100px;
}
.bio-cont{
	margin: 0 auto;
}

.pic-hex{
	position: relative;
	top: 50px;
	left: -80px;
	margin: 0 auto -170px auto;
	height: 600px;
	width: 300px;
	transform: rotate(120deg) translate(-50%);
	overflow: hidden;
	border-radius: 50%;
	visibility: hidden;
}
.inner-pic-hex{
	height: 600px;
	width: 300px;
	border-radius: 50%;
	transform: rotate(-60deg);
	overflow: hidden;
}
.inner-inner-pic-hex{
	height: 600px;
	width: 300px;
	background-image: url(/images/Me.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	transform: rotate(-60deg);
	visibility: visible;
}
.sarcasm{
	color: #354649;
	font-weight: 600;
}
.my-disc{
	color: #6C7A89 ;
	text-align: justify;
}
.enf{
	color: #14CEE2;
}
.skills-list{
	margin-top: 50px;
	height: 100%;
	list-style: none;
	padding: 0;
}
.skill{
	display: grid;
	grid-template-columns: 30% 58% 12%;
	grid-template-areas: "sName perc perDisc";
	background-color: #f5f5f5;
	border-radius: 5px;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.skill-name{
	grid-area: sName;
	background-color: #14CEE2;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #f5f5f5;
	padding-top: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
#html-progress{
    transition-delay: 0.7s;
}
#css-progress{
    transition-delay: 0.8s;
}
#javascript-progress{
    transition-delay: 0.9s;
}
#bootstrap-progress{
    transition-delay: 1s;
}
#jquery-progress{
    transition-delay: 1.1s;
}
#node-progress{
    transition-delay: 1.2s;
}
#express-progress{
    transition-delay: 1.3s;
}
#mongodb-progress{
    transition-delay: 1.4s;
}
#git-progress{
    transition-delay: 1.5s;
}
.skill-progress{
	grid-area: perc;
	width: 0%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #11A9B9;
	transition: width 0.5s ease-in-out;
}
.percentage{
	grid-area: perDisc;
	color: #11A9B9;
	height: 100%;
	width: 100%;
	padding-top: 10px;
	box-sizing: border-box;
}
#projects{
	width: 100%;
	text-align: center;
	min-height: 700px;
	background-color: #f5f5f5;
	position: relative;
}

.project-filters-wrapper{
	display: flex;
	width: 95%;
	margin: 50px auto;
}
.filter-buttons{
	background-color: #f3f7f8;
	color: #21c2f8;
	padding: 5px 10px;
	margin: 0 auto;
	border: 2px solid #f3f7f8;
	transition: all 0.3s;
}
.filter-buttons:hover{
	border: 2px solid #21c2f8;
}
.activ-filter{
	color: #f3f7f8;
	background-color: #21c2f8;
}
.projects-wrapper{
	margin-bottom: 100px;
}
.project{
	position: relative;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.project:hover .top-half{
    height: 50%;
    opacity: 1;
}
.project:hover .bottom-half{
    height: 50%;
    opacity: 1;
}

.top-half{
    position: absolute;
    opacity: 0;
    top: 0;
	height: 0;
	width: 100%;
	margin: 0;
	background-color: #f5f5f5;
	overflow: hidden;
	transition: all 0.2s ease;
}
#yelpcamp{
    background-image: url("/images/yelpcamp-website-pic.jpg");
}
#natureking{
	background-image: url(/images/nature-king-website-pic.jpg);
	animation-delay: 0.3s;
}
#marcs-fusion{
	background-image: url(/images/marcs-fusion-website-pic.jpg);
	animation-delay: 0.6s;
	background-position: right;
}
.bottom-half{
    position: absolute;
    opacity: 0;
    bottom: 0;
	height: 0;
	width: 100%;
	margin: 0;
	background-color: #f5f5f5;
	transition: all 0.2s ease;
}
.project-name{
	padding: 30px 0 5px;
	color: #201d3a ;
}
.languages-used{
	color: #4cb69f;
}
.learn-more-button{
	position: relative;
	top: 50px;
	text-decoration: none !important;
	padding: 10px 20px;
	background-color: #f5f5f5;
	font-weight: bold;
	color: #4f4e4e;
	border-radius: 4px;
	border: 2px solid #4f4e4e;
	transition: all 0.3s;
}
.learn-more-button:hover{
	background-color: #f5f5f5;
	color: #4cb69f;
	border: 2px solid #4cb69f;
}
#contact{
	background-color: #4f4e4e;
	text-align: center;
	min-height: 700px;
}
.contact-header{
	color: #f5f5f5;
}
.contact-underline{
	background-color: #f5f5f5;
}
.have-a-question{
    color: #14CEE2;
}
form{
    margin: 0 auto 80px auto;
}
.inputs{
    width: 100%;
    margin-top: 5px;
    background-color: #232323;
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #f5f5f5;
}

::placeholder{
	color: #E0E7E9;
}
textarea{
    height: 150px;
    border-radius: 4px;
    background-color: #232323;
    padding: 10px 14px;
    border: none;
    color: #f5f5f5;
}
.inputs:focus{
	outline: 2px solid #14CEE2;
}
.form-button{
    float: right;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 18px;
    color: #f5f5f5;
    background-color: #232323;
}
.form-button:hover{
	border-color: #14CEE2;
	color: #14CEE2;
	background-color: #f5f5f5;

}
footer{
    position: relative;
    width: 100%;
    min-height: 200px;
    background-color: #232323;
    padding: 0;
    margin: 0;
}
.footer-to-home-button{
    position: absolute;
    padding: 12px 16px;
    font-size: 30px;
    left: 50%;
    top: -30px;
    transform: translate( -30px);
    height: 60px;
    width: 50px;
    background-color: #14CEE2;
    color: #f5f5f5;
    text-decoration: none;
    transition: all 0.4;
}
.footer-to-home-button i{
	position: absolute;
}
.footer-to-home-button:hover i{
	animation-name: shiftUp;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	color: #f5f5f5;
} 
@keyframes shiftUp{
	0%{
		top: 30px;
	}
	100%{
		top: 0;
	}
}
.footer-list{
    list-style: none;
    height: 100px;
    margin: 70px auto 30px auto;
    padding: 10px 0px;
    text-align: center;
}
.footer-list li{
    display: inline-block;
    padding: 0;
    margin: 0 5px;
    background-color: #4f4e4e;
}
@keyframes spinin{
	0%{
		background-image: linear-gradient(0deg, white, black, white, black,white, black, white, black);
	}
	25%{
		background-image: linear-gradient(90deg, white, black, white, black,white, black, white, black);
	}
	50%{
		background-image: linear-gradient(180deg, white, black, white, black,white, black, white, black);
	}
	75%{
		background-image: linear-gradient(270deg, white, black, white, black,white, black, white, black);
	}
	100%{
		background-image: linear-gradient(360deg, white, black, white, black,white, black, white, black);
	}
}
.footer-link{
    position: relative;
    text-align: center;
    display: block;
    font-size: 32px;
    padding: 5px 20px;
    color: #E0E7E9;
    transition: all 0.5s;
}
.footer-list li:hover .footer-link{
    transform: rotateY(360deg);
    color: #14CEE2;
}
.closing p{
    text-align: center;
    font-weight: bolder;
    color: #757575;
}
.closing p span{
	color: #14CEE2;
	margin-left: 5px;
}


@media screen and (max-width: 600px){
	.welcome{
		width: 80%;
	}
	.text{
		height: 40px;
		margin: -30px 20px 0 -60px;
	}
	.text h1{
		font-size: 24px;
	}
	.introduction{
		font-size: 24px;
	}
	.view-work-button{
		font-size: 16px;
	}
	
	#about{
		min-height: 200vh
	}
	.headers{
		font-size: 45px;
	}
	.work-cards-wrapper{
		margin-top: -35px;
	}
	.work-cards{
		margin-top: -50px;
	}
	.hexagon{
		height: 200px;
		width: 100px;
	}
	.inner-hex{
		height: 200px;
		width: 100px;
	}
	.inner-inner-hex{
		height: 200px;
		width: 100px;
	}
	.fa{
		top: 40%;
		left: 35%;
		font-size: 36px;
	}
	.fa-desktop{
		left: 25%;
	}
	.fa-mobile-alt{
		position: absolute;
		font-size: 25px;
		left: 62%;
		top: 50%;
	}
	.card-heading{
		margin: 10px auto;
		font-size: 21px;
		font-weight: bolder;
	}
	.card-detail{
		font-size: 13px;
	}
	.pic-hex{
		margin-top: -15px;
		height: 500px;
		width: 250px;
		left: -18%;
	}
	.inner-pic-hex,
	.inner-inner-pic-hex{
		height: 500px;
		width: 250px;
	}
	.sarcasm{
		margin-top: 20px;
	}
	.skill{
		margin-bottom: 10px;
	}
	.skill-name{
		padding-top: 5px 10px;
	}
	h6{
		font-size: 12px;
	}
	#contact{
		min-height: 700px;
	}
}



