<!-- These are the filter buttons for the project section on my portfolio site
<div class="project-filters-wrapper">
	<button class="activ-filter filter-buttons website-projects">
		All
	</button>
	<button class="filter-buttons website-projects">
		Web
	</button>
	<button class="filter-buttons game-projects">
		Games
	</button>
	<button class="filter-buttons python-projects">
		Desktop
	</button>
</div>
-->
