<!-- These are the filter buttons for the project section on my portfolio site
<div class="project-filters-wrapper">
	<button class="activ-filter filter-buttons website-projects">
		All
	</button>
	<button class="filter-buttons website-projects">
		Web
	</button>
	<button class="filter-buttons game-projects">
		Games
	</button>
	<button class="filter-buttons python-projects">
		Desktop
	</button>
</div>
-->

<!-- 

The projects html as of jan-10-2019
<div id="projects">
    		<div class="container">
    			<div class="header-container">
    				<h1 class="projects-header headers disappear animated">Projects</h1>
    				<div class="project-underline underlines disappear animated"></div>
    			</div>
    			<div class="row projects-wrapper">
    				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 yelpcamp-image disappear animated project web">
    					<div class="top-half">
    						<h4 class="project-name">YelpCamp</h4>
    						<h6 class="languages-used">JavaScript/bootstrap4</h6>
    					</div>
    					<div class="bottom-half">
    						<a href="https://serene-hollows-58536.herokuapp.com/" class="learn-more-button">LEARN MORE</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

-->